#main-search {
  float:right;
}
#userProfileNav {
  float:right;
  margin-left:2em;
}
.brand img {
  margin-top:-5px;
}

.thread.collapsed {
  padding-top:0.8em;
  padding-bottom:0.8em;
}

.thread.collapsed .question, .thread.collapsed .date {
  opacity:0.6;
  font-size:0.8em;
}

.thread.collapsed > div {
  display:none;
}

.thread > .control-box {
  margin-top:15px;
  display: block;
}
.control-box > .comments {
  margin-right:10px;
  margin-top:5px;
  display:block;
  float:left;
}
.control-box > .meta {
  float:right;
}

.profile:not(a) {
  background:rgba(182,205,146,0.3);
  padding:10px 20px;
}

.profile .dl-horizontal dt {
  width:60px;
}

.profile .dl-horizontal dd {
  margin-left:70px;
}

#map {height:300px;}